
*{
    background-color: #2B3A42;
}


QLabel#altitude_value {
    color: red;
}
QLabel#speed_value {
    color: #daa520;
}
QLabel#vAngle_value {
    color: green;
}
QLabel#hAngle_value {
    color: blue;
}
QLabel#text {
    color: white;
}